.idea/
target/
*.iml
*.iws
*.ipr
.DS_Store
*.log
*.class
*.jar
*.war
*.ear
.settings/
.classpath
.project
.springBeans
.sts4-cache/
bin/
tmp/
*.swp
*~.nib
local.properties
.loadpath
.recommenders
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties
.mvn/wrapper/maven-wrapper.jar
.flattened-pom.xml
